getfilelistpy==1.0.7
google-api-core==2.10.1
google-api-python-client==2.61.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
googleapis-common-protos==1.56.4
ipykernel==5.2.0
ipyspin==0.1.6
ipython==7.13.0
ipython_genutils==0.2.0
ipywidgets==7.7.2
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.11.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-server==1.18.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.15.1
matplotlib==3.6.0
notebook==6.0.3
numpy==1.23.3
pandas==1.4.4
scipy==1.9.1
urllib3==1.26.12
voila==0.3.6
widgetsnbextension==3.6.1